<form class="form-field">
  <mat-form-field>
    <mat-label> Nieuwe gebruiker </mat-label>
    <input matInput placeholder="Gebruikersnaam" type="text" #username />
  </mat-form-field>
  <button 
    mat-button 
    (click)="addUser(username.value); username.value=''">
    <span> Toevoegen </span>
  </button>
</form>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="full-width-table" aria-label="Users">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Naam </th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>
    <!-- Options Column -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Opties </th>
      <td mat-cell *matCellDef="let row">
          <button 
            mat-icon-button
            [matMenuTriggerFor]="menu" 
            aria-label="Toggle menu">
            <mat-icon> more_vert </mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button 
              mat-menu-item 
              routerLink="/dashboard/{{row.id}}/{{row.name}}">
              <mat-icon>description</mat-icon>
              <span> Notities </span>
            </button>
            <button 
              mat-menu-item
              [matMenuTriggerFor]="bevestigen">
              <mat-icon> delete </mat-icon>
              <span> Verwijder </span>
            </button>
            <button 
              mat-menu-item 
              (click)="updateUser(row.id, row.name)">
              <mat-icon> edit </mat-icon>
              <span> Wijzig naam </span>
            </button>
          </mat-menu>
          <mat-menu #bevestigen="matMenu">
            <button 
              mat-menu-item>
              <span> Annuleer </span>
            </button>
            <button 
              mat-menu-item 
              (click)="deleteUser(row.id, row.name)">
              <span> Ok </span>
            </button>
          </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="dataSource">
    <mat-paginator #paginator
        [length]="dataSource.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 50]">
    </mat-paginator>
  </div>

</div>
