<h3>Zoek en filterfunctie</h3>

<p>
    het is mogelijk om tussen de notities van een gebruiker te zoeken op een bepaalde zoekterm.<br>
    Laat ook toe om te filteren op notities van een bepaalde categorie.
</p>

<div id="search-component">

  <h4>Notitie zoeken</h4>

  <!-- Zoeken op titel of de inhoud -->
  <label for="searchTitle">Titel:</label>
  <input #searchTitle id="searchTitle" />
  <br>
  <label for="searchContent">Inhoud:</label>
  <input #searchContent id="searchContent" />

  <br><br>
  <button (click)="searchNote(searchTitle.value, searchContent.value);">Zoek notitie</button>

  <h4><label>Filter op categorie</label></h4>
  <!-- The <select> element is used to create a drop-down list -->
  <label for="categoryElement">Kies een categorie:</label>
  <select #categoryElement name="categoryElement" id="categoryElement"></select>
  <button (click)="getCategory(categoryElement.value);">Filteren</button>

  <div *ngIf="notes">
    <br>
    <div *ngIf="notes.length == 0">
        Geen notities gevonden.
        <br><br>
    </div>
  </div>

  <div *ngIf="notes">
    <div *ngFor="let note of notes">
      <br>
      <a routerLink="/notedetail/{{ note.id }}">
        <div *ngIf="note.title">
          <label>Titel= {{ note.title }}</label>
        </div>
        <label for="contentText">Inhoud:</label>
        <textarea id="contentText">{{ note.content }}</textarea>
      </a>
    </div>
  </div>

  <br><br>
  <button (click)="goBack()">Terug</button>

</div>
