<h3>Gebruikers</h3>

<p>
    Weergave van de gebruikers die er zijn.<br>
    Als je op de naam klikt zie je al de notities van een gebruiker.
</p>

<div *ngIf="users">
    <div *ngIf="users.length == 0">
        Geen gebruikers geregistreerd.
        <br><br>
    </div>
</div>

<div class="users" *ngFor="let user of users">
    <a mat-button routerLink="/userdetail/{{ user.id }}">{{ user.name }}</a>
    <button mat-stroked-button (click)="deleteUser(user)">Verwijder gebruiker</button>
</div>

<div>
    Mogelijkheid om een nieuwe gebruiker toe te voegen.<br>
    <label>Gebruiker:
        <input matInput #addName />
    </label>
</div>
<button mat-button (click)="addUser(addName.value); addName.value=''">Gebruiker toevoegen</button>
