.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  height:fit-content;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  padding-right: 20px;
  text-align: left;
}

.addNote {
  position: relative;
  text-align: right;
  right: 10px;
}

.mat-form-field {
  margin: 8px;
}

.categorie {
  padding: 5px;
  width:fit-content;
  border: thin solid;
  border-radius: 5px;
}