<h3>Notities</h3>

<p>
    Hier worden alle notities van een bepaalde gebruiker getoond.<br>
    Wanneer er op een notitie geklikt wordt, dan worden de details van een notitie getoond.
</p>

<div *ngIf="notes">
    <div *ngIf="notes.length == 0">
        Geen notities beschikbaar voor deze gebruiker.
        <br><br>
    </div>
</div>

<div class="notes" *ngFor="let note of notes">
    <a routerLink="/notedetail/{{ note.id }}">
        <div *ngIf="note.title">
            <label>{{ note.title }}</label>
        </div>
        <!--<label for="contentText">
            <textarea disabled="true" id="contentText">{{ note.content }}</textarea>
            <span disabled="true" id="contentText">{{ note.content }}</span>
        </label>-->
        <!--<label>{{ note.content }}</label>-->
        <textarea id="contentText">{{ note.content }}</textarea>
    </a>
    <br>
    <button (click)="deleteNote(note)">Notitie verwijderen</button>
</div>

<div>
    Mogelijkheid om een nieuwe notitie toe te voegen.
    <br><br>
    <label for="title">Titel: 
        <input id="title" #title />
    </label><br>
    <label for="content">Inhoud: 
        <textarea id="content" #content ></textarea>
    </label><br>
    <label for="category">Categorie: 
        <input id="category" #category />
    </label><br>
    <button (click)="addNote(title.value, content.value, category.value); title.value=''; content.value=''; category.value='' ">Notitie toevoegen</button>
    <!-- onmiddelijk naar het detail scherm gaan van de notitie, enkel titel opgeven? -->
</div>
